<app-loading *ngIf="loadingartist"></app-loading>
<div class="row animated fadeIn">
  <div class = "col-2" *ngIf="!loadingartist">
    <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
  </div>
  <div class = "col">
  <h2> {{ artista.name }} </h2>
  <p>
    <a [href]="artista.external_urls" target="_blank">
      Ir a la pagina del artista
      {{teste}}
    </a>
  </p>
  </div>
  <div class = "col-4 text-right">
    <button routerLink = "/home" class="btn btn-outline-light">
      Regresar
    </button>
  </div>
</div>
